<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.nearbyshops.enduserappnew">


    <dist:module dist:instant="true" /> <!-- To auto-complete the email text field in the loginActivity form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>



    <application
        android:name="org.nearbyshops.enduserappnew.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/custom_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/custom_icon"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/custom_icon" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />


        <service
            android:name="org.nearbyshops.enduserappnew.PushFirebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>





        <service
            android:name="org.nearbyshops.enduserappnew.PushOneSignal.UpdateOneSignalID"
            android:exported="false" />


        <service
            android:name="org.nearbyshops.enduserappnew.Services.UpdateServiceConfiguration"
            android:exported="false" />


        <service
            android:name="org.nearbyshops.enduserappnew.Services.LocationService"
            android:exported="false" />



        <service
            android:foregroundServiceType="location"
            android:name=".Services.NonStopServices.PersistentLocationService"
            android:exported="false" />




        <service
            android:name="org.nearbyshops.enduserappnew.Services.LocationServiceBackup"
            android:exported="false" />




        <activity
            android:name="org.nearbyshops.enduserappnew.HomePleaseSelectMarket"
            android:label="@string/app_name"
            android:launchMode="singleTop">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>




        <activity android:name="org.nearbyshops.enduserappnew.multimarketfiles.Markets.MarketsList"/>


        <activity android:name="org.nearbyshops.enduserappnew.Lists.ShopsList.ShopsList"/>

        <activity android:name="org.nearbyshops.enduserappnew.UtilityScreens.PlacePickerGoogleMaps.GooglePlacePicker" />

        <activity android:name="org.nearbyshops.enduserappnew.aSellerModule.DashboardDeliveryGuy.DeliveryHome" />


        <activity android:name="org.nearbyshops.enduserappnew.aSuperAdminModule.MarketsList.MarketsList" />
        <activity android:name="org.nearbyshops.enduserappnew.aSuperAdminModule.DashboardAdmin.SDSAdminDashboard" />

        <activity android:name="org.nearbyshops.enduserappnew.adminModule.DashboardAdmin.AdminDashboard" />
        <activity android:name="org.nearbyshops.enduserappnew.adminModule.DashboardStaff.StaffDashboard" />
        <activity android:name="org.nearbyshops.enduserappnew.aSellerModule.DashboardShopStaff.ShopDashboardForStaff" />

        <activity android:name="org.nearbyshops.enduserappnew.aSellerModule.DashboardShopAdmin.ShopAdminHome" />
        <activity android:name="org.nearbyshops.enduserappnew.Lists.ShopsAvailableForItem.ShopItemByItem" />


        <activity android:name="org.nearbyshops.enduserappnew.Login.Login"
                    android:windowSoftInputMode="adjustResize" />

        <activity android:name="org.nearbyshops.enduserappnew.DetailScreens.DetailItemNew.ItemDetail" />
        <activity android:name="org.nearbyshops.enduserappnew.DetailScreens.DetailShopItem.ShopItemDetail" />


        <activity android:theme="@style/AppTheme"
            android:name="org.nearbyshops.enduserappnew.DetailScreens.DetailShopNew.ShopDetail"
            android:windowSoftInputMode="adjustPan|adjustResize"/>



        <activity android:name="org.nearbyshops.enduserappnew.ImageList.ImageListForShop.ShopImageList" />
        <activity android:name="org.nearbyshops.enduserappnew.ImageSlider.ImageSliderForShop.ImageSliderShop" />
        <activity android:name="org.nearbyshops.enduserappnew.ImageList.ImageListForItem.ItemImageList" />

        <activity android:name="org.nearbyshops.enduserappnew.ImageSlider.ImageSliderForItem.ImageSlider" />
        <activity android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditProfile.EditProfile" />


        <activity android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditBannerImage.EditBannerImage" />
        <activity android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditMarketSettings.EditMarketSettings" />


        <activity
            android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditProfile.ChangeEmail.ChangeEmail"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />


        
        <activity
            android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditProfile.ChangePhone.ChangePhone"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditShopStaffPermissions.EditShopStaffPermissions" />
        <activity android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditStaffPermissions.EditStaffPermissions" />




        <activity
            android:launchMode="singleTop"
            android:name="org.nearbyshops.enduserappnew.Lists.UsersList.UsersList">


            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>


        </activity>


        <activity android:name="org.nearbyshops.enduserappnew.Lists.DeliveryAddress.DeliveryAddressActivity" />

        <activity android:name="org.nearbyshops.enduserappnew.InventoryOrders.DeliverySlot.EditDeliverySlot.EditDeliverySlot" />







        <activity
            android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditDeliveryAddress.EditDeliveryAddress"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />


        <activity android:name="org.nearbyshops.enduserappnew.UtilityScreens.PlacePickerMapbox.PickLocation" />
        <activity android:name="org.nearbyshops.enduserappnew.Lists.CartItemList.CartItemList" />

        <activity android:name="org.nearbyshops.enduserappnew.Checkout.PlaceOrder" />
        <activity android:name="org.nearbyshops.enduserappnew.Checkout.SelectPayment" />

        <activity android:name="org.nearbyshops.enduserappnew.multimarketfiles.DetailMarket.MarketDetail" />
        <activity android:name="org.nearbyshops.enduserappnew.DetailScreens.DetailOrder.OrderDetail" />


        <activity android:name="org.nearbyshops.enduserappnew.ShopReview.ShopReviews" />
        <activity android:name="org.nearbyshops.enduserappnew.Lists.CartsList.CartsList" />
        <activity android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditItem.EditItem" />
        <activity android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditItemImage.EditItemImage" />

        <activity android:name="org.nearbyshops.enduserappnew.Lists.ShopsAvailableNew.ShopsAvailable" />



        <activity
            android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditShop.AddShop"
            android:label="Add Shop" />



        <activity
            android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditShop.EditShop"
            android:label="Edit Shop" />


        <activity
            android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditShopImage.EditShopImage"
            android:label="Edit Shop Image" />


        <activity android:name="org.nearbyshops.enduserappnew.UtilityScreens.PlacePickerMapbox.PlacePickerWithRadius.PickDeliveryRange" />
        <activity android:name="org.nearbyshops.enduserappnew.aSellerModule.FilterDeliveryGuy.FilterDeliveryGuy" />

        <activity android:name="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard" />
        <activity android:name="org.nearbyshops.enduserappnew.Lists.TransactionHistory.TransactionHistory" />


        <activity
            android:launchMode="singleTop"
            android:name="org.nearbyshops.enduserappnew.Lists.OrderHistory.OrderHistory"
            android:label="Order History"
            android:parentActivityName="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>


        <activity
            android:launchMode="singleTop"
            android:name="org.nearbyshops.enduserappnew.Lists.OrderHistoryPaging.OrderHistoryPaging"
            android:label="Order History"
            android:parentActivityName="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>





        <activity
            android:launchMode="singleTop"
            android:name="org.nearbyshops.enduserappnew.InventoryOrders.InventoryPickFromShop.PickFromShopInventory"
            android:label="Pick From Shop Inventory"
            android:parentActivityName="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>


        <activity
            android:launchMode="singleTop"
            android:name="org.nearbyshops.enduserappnew.InventoryOrders.InventoryHomeDelivery.HomeDelivery"
            android:label="Home Delivery Inventory"
            android:parentActivityName="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>


        <activity
            android:name="org.nearbyshops.enduserappnew.aSellerModule.QuickStockEditor.QuickStockEditor"
            android:label="Quick Stock Editor"
            android:parentActivityName="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard" />
        </activity>


        <activity
            android:name="org.nearbyshops.enduserappnew.ItemCatalogue.ItemsDatabase.ItemsDatabase"
            android:label="Items Database"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>


        <activity
            android:name="org.nearbyshops.enduserappnew.aSellerModule.ItemsInShopByCatSeller.ItemsInShopByCat"
            android:label="Items In Shop"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>


        <activity
            android:name="org.nearbyshops.enduserappnew.aSellerModule.ItemsInShopSeller.ItemsInShop"
            android:label="Items In Shop"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.aSellerModule.DashboardShop.ShopDashboard" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>


        <activity
            android:name="org.nearbyshops.enduserappnew.Login.SignUp.ForgotPassword.ForgotPassword"
            android:label="Forgot Password"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="org.nearbyshops.enduserappnew.Login.SignUp.SignUp"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name="org.nearbyshops.enduserappnew.adminModule.ShopsList.ShopsDatabase"
            android:label="Shops"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.enduserappnew.adminModule.DashboardAdmin.AdminDashboard">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.adminModule.DashboardAdmin.AdminDashboard" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>


        <activity
            android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditItemCategory.EditItemCategory"
            android:label="Edit Item Category"
            android:parentActivityName="org.nearbyshops.enduserappnew.adminModule.DashboardAdmin.AdminDashboard">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.adminModule.DashboardAdmin.AdminDashboard" />
        </activity>


        <activity
            android:name="org.nearbyshops.enduserappnew.ItemCatalogue.ItemsDatabaseForAdmin.ItemsDatabaseAdmin"
            android:label="Items by Category"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.enduserappnew.adminModule.DashboardAdmin.AdminDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.adminModule.DashboardAdmin.AdminDashboard" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>


        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />


        <activity
            android:name="org.nearbyshops.enduserappnew.adminModule.ChangeParent.ItemCategoriesParent"
            android:label="Select Parent Category"
            android:parentActivityName="org.nearbyshops.enduserappnew.adminModule.DashboardAdmin.AdminDashboard">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.adminModule.DashboardAdmin.AdminDashboard" />

        </activity>


        <activity
            android:name="org.nearbyshops.enduserappnew.adminModule.AddCredit.AddCredit"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name="org.nearbyshops.enduserappnew.EditDataScreens.EditMarket.EditMarket"
            android:label="Edit Configuration"
            android:parentActivityName="org.nearbyshops.enduserappnew.adminModule.DashboardAdmin.AdminDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.adminModule.DashboardAdmin.AdminDashboard" />
        </activity>


        <activity
            android:launchMode="singleTop"
            android:name="org.nearbyshops.enduserappnew.InventoryOrders.InventoryDeliveryPerson.DeliveryPersonInventory"
            android:label="Delivery Inventory"
            android:parentActivityName="org.nearbyshops.enduserappnew.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.Home" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>


        <activity
            android:launchMode="singleTop"
            android:name="org.nearbyshops.enduserappnew.aSellerModule.InventoryDeliveryByVendor.DeliveryByVendorInventory"
            android:label="Delivery by Vendor"
            android:parentActivityName="org.nearbyshops.enduserappnew.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserappnew.Home" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>


        <activity
            android:launchMode="singleTop"
            android:name="org.nearbyshops.enduserappnew.Lists.ItemsInShopByCategory.ItemsInShopByCat">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />


    </application>

</manifest>