<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.nearbyshops.enduserappnew">

    <dist:module dist:instant="true" /> <!-- To auto-complete the email text field in the loginActivity form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/custom_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/custom_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_shopping_basket_blue" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

<!--        <service-->
<!--            android:name=".Firebase.MessagingService"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->



        <service
            android:name=".PushFirebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>



        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".PushOneSignal.UpdateOneSignalID"
            android:exported="false" />


        <service
            android:name=".Services.UpdateServiceConfiguration"
            android:exported="false" />



        <service
            android:name=".Services.LocationUpdateService"
            android:exported="false" />



        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>



        <activity android:name=".UtilityScreens.PlacePickerGoogleMaps.GooglePlacePicker"/>

        <activity android:name=".aSellerModule.DashboardDeliveryGuy.DeliveryHome"/>


        <activity android:name=".aSuperAdminModule.MarketsList.MarketsList"/>
        <activity android:name=".aSuperAdminModule.DashboardAdmin.SDSAdminDashboard"/>

        <activity android:name=".adminModule.DashboardAdmin.AdminDashboard"/>
        <activity android:name=".adminModule.DashboardStaff.StaffDashboard"/>
        <activity android:name=".aSellerModule.DashboardShopStaff.ShopDashboardForStaff"/>

        <activity android:name=".aSellerModule.DashboardShopAdmin.ShopAdminHome"/>
        <activity android:name=".Lists.ShopsAvailableForItem.ShopItemByItem" />

        <activity android:name=".Login.Login"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".DetailScreens.DetailItem.ItemDetail" />
        <activity android:name=".DetailScreens.DetailShop.ShopDetail" />
        <activity android:name=".ImageList.ImageListForShop.ShopImageList" />
        <activity android:name=".ImageSlider.ImageSliderForShop.ImageSliderShop" />
        <activity android:name=".ImageList.ImageListForItem.ItemImageList" />
        <activity android:name=".ImageSlider.ImageSliderForItem.ImageSlider" />
        <activity android:name=".EditDataScreens.EditProfile.EditProfile" />



        <activity
            android:name=".EditDataScreens.EditProfile.ChangeEmail.ChangeEmail"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditDataScreens.EditProfile.ChangePhone.ChangePhone"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity android:name=".EditDataScreens.EditShopStaffPermissions.EditShopStaffPermissions" />
        <activity android:name=".EditDataScreens.EditStaffPermissions.EditStaffPermissions" />



        <activity android:name=".Lists.UsersList.UsersList" />
        <activity android:name=".Lists.DeliveryAddress.DeliveryAddressActivity" />
        <activity android:name=".EditDataScreens.EditDeliveryAddress.EditDeliveryAddress" />
        <activity android:name=".UtilityScreens.PlacePickerMapbox.PickLocation" />
        <activity android:name=".Lists.CartItemList.CartItemList" />
        <activity android:name=".Checkout.PlaceOrderActivity" />
        <activity android:name=".DetailScreens.DetailMarket.MarketDetail" />
        <activity android:name=".DetailScreens.DetailOrder.OrderDetail" />




        <activity android:name=".ShopReview.ShopReviews" />
        <activity android:name=".Lists.CartsList.CartsList" />
        <activity android:name=".EditDataScreens.EditItem.EditItem" />
        <activity android:name=".EditDataScreens.EditItemImage.EditItemImage" />




        <activity android:name=".EditDataScreens.EditShop.EditShop" android:label="Edit Shop"/>
        <activity android:name=".EditDataScreens.EditShopImage.EditShopImage" android:label="Edit Shop Image"/>


<!--        <activity android:name=".aSellerModule.ItemsInShopByCatSeller.ItemsInShopByCat" />-->
<!--        <activity android:name=".aSellerModule.ItemsInShopSeller.ItemsInShop" />-->
        <activity android:name=".UtilityScreens.PlacePickerMapbox.PlacePickerWithRadius.PickDeliveryRange" />
<!--        <activity android:name=".aSellerModule.OrdersInventory.HomeDeliveryInventory.HomeDelivery" />-->
<!--        <activity android:name=".aSellerModule.OrdersInventory.PickFromShopInventory.PickFromShopInventory" />-->
<!--        <activity android:name=".aSellerModule.QuickStockEditor.QuickStockEditor" />-->
        <activity android:name=".aSellerModule.FilterDeliveryGuy.FilterDeliveryGuy" />

        <activity android:name=".aSellerModule.DashboardShop.ShopDashboard" />
        <activity android:name=".Lists.TransactionHistory.Transactions" />




        <activity
            android:launchMode="singleTop"
            android:name=".Lists.OrderHistory.OrderHistory"
            android:label="Order History"
            android:parentActivityName=".aSellerModule.DashboardShop.ShopDashboard">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".aSellerModule.DashboardShop.ShopDashboard" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>




        <activity
            android:launchMode="singleTop"
            android:name=".Lists.OrderHistoryPaging.OrderHistoryPaging"
            android:label="Order History"
            android:parentActivityName=".aSellerModule.DashboardShop.ShopDashboard">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".aSellerModule.DashboardShop.ShopDashboard" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>




        <activity
            android:launchMode="singleTop"
            android:name=".aSellerModule.InventoryOrders.PickFromShopInventory.PickFromShopInventory"
            android:label="Pick From Shop Inventory"
            android:parentActivityName=".aSellerModule.DashboardShop.ShopDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".aSellerModule.DashboardShop.ShopDashboard" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>




        <activity
            android:launchMode="singleTop"
            android:name=".aSellerModule.InventoryOrders.HomeDeliveryInventory.HomeDelivery"
            android:label="Home Delivery Inventory"
            android:parentActivityName=".aSellerModule.DashboardShop.ShopDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".aSellerModule.DashboardShop.ShopDashboard" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>





        <activity
            android:name=".aSellerModule.QuickStockEditor.QuickStockEditor"
            android:label="Quick Stock Editor"
            android:parentActivityName=".aSellerModule.DashboardShop.ShopDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".aSellerModule.DashboardShop.ShopDashboard" />
        </activity>




        <activity
            android:name=".ItemCatalogue.ItemsDatabase.ItemsDatabase"
            android:label="Items Database"
            android:launchMode="singleTop"
            android:parentActivityName=".aSellerModule.DashboardShop.ShopDashboard">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".aSellerModule.DashboardShop.ShopDashboard" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>



        <activity
            android:name=".aSellerModule.ItemsInShopByCatSeller.ItemsInShopByCat"
            android:label="Items In Shop"
            android:launchMode="singleTop"
            android:parentActivityName=".aSellerModule.DashboardShop.ShopDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".aSellerModule.DashboardShop.ShopDashboard" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>




        <activity
            android:name=".aSellerModule.ItemsInShopSeller.ItemsInShop"
            android:label="Items In Shop"
            android:launchMode="singleTop"
            android:parentActivityName=".aSellerModule.DashboardShop.ShopDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".aSellerModule.DashboardShop.ShopDashboard" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>




        <activity
            android:name=".Login.SignUp.ForgotPassword.ForgotPassword"
            android:label="Forgot Password"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login.SignUp.SignUp"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />




        <activity
            android:name=".adminModule.ShopsList.ShopsDatabase"
            android:label="Shops"
            android:launchMode="singleTop"
            android:parentActivityName=".adminModule.DashboardAdmin.AdminDashboard">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".adminModule.DashboardAdmin.AdminDashboard" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>


        <activity
            android:name=".EditDataScreens.EditItemCategory.EditItemCategory"
            android:label="Edit Item Category"
            android:parentActivityName=".adminModule.DashboardAdmin.AdminDashboard">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".adminModule.DashboardAdmin.AdminDashboard" />
        </activity>



        <activity
            android:name=".ItemCatalogue.ItemsDatabaseForAdmin.ItemsDatabaseAdmin"
            android:label="Items by Category"
            android:parentActivityName=".adminModule.DashboardAdmin.AdminDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".adminModule.DashboardAdmin.AdminDashboard" />

        </activity>


        <activity
            android:name=".EditDataScreens.Deprecated.EditShopForAdmin.EditShopForAdmin"
            android:label="Edit Shop"
            android:parentActivityName=".adminModule.DashboardAdmin.AdminDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".adminModule.DashboardAdmin.AdminDashboard" />
        </activity>


        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />


        <activity
            android:name=".adminModule.ChangeParent.ItemCategoriesParent"
            android:label="Select Parent Category"
            android:parentActivityName=".adminModule.DashboardAdmin.AdminDashboard">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".adminModule.DashboardAdmin.AdminDashboard" />

        </activity>


        <activity
            android:name=".adminModule.AddCredit.AddCredit"
            android:windowSoftInputMode="adjustPan" />



        <activity
            android:name=".EditDataScreens.EditMarket.EditMarket"
            android:label="Edit Configuration"
            android:parentActivityName=".adminModule.DashboardAdmin.AdminDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".adminModule.DashboardAdmin.AdminDashboard" />
        </activity>





        <activity
            android:launchMode="singleTop"
            android:name=".aSellerModule.InventoryDeliveryPerson.DeliveryGuyDashboard"
            android:label="Delivery Inventory"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>



        <activity
            android:launchMode="singleTop"
            android:name=".Lists.ItemsInShopByCategory.ItemsInShopByCat">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>




        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />



    </application>

</manifest>